@import './_partyal/componet.css';
@import './_partyal/common.css';

/* 
*******
COLOR
********
*/
:root {
  --search: #e5e5e5;
}

.ad-bg-search,
.ad-search input {
  background-color: var(--search);
}
/* 
*******
HEADER
********
*/
header {
  height: 70px;
}

.ad-search {
  outline: none;
}

.img-small {
  width: 3.4375rem;
}

ul {
  list-style: none;
}

nav a {
  font-size: 25px;
  line-height: 1;
}

main {
  height: calc(100vh - 70px);
}

main .side {
  width: 70px;
  height: 100%;
  background-color: #051e34;
  background-image: url(../img/sidebar-bg.png);
}

.side .contenuto-nav {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

main .contenuto-main {
  width: calc(100% - 70px);
  height: 100%;
  background-color: blueviolet;
}
