@import './_partyal/hover.css';
@import './_partyal/common.css';

/* 
*******
COLOR
********
*/
:root {
  --search: #e5e5e5;
}

.ad-bg-search,
.ad-search input {
  background-color: var(--search);
}
/* 
*******
HEADER
********
*/
header {
  height: 4.375rem;
}

.ad-search {
  outline: none;
}

.img-small {
  width: 60px;
}

.img-large {
  width: 150px;
}

nav a {
  font-size: 20px;
}

.fa-magnifying-glass {
  line-height: 1;
}

/* 
*******
MAIN
********
*/

main {
  height: calc(100vh - 70px);
}

main .side {
  width: 70px;
  height: 100%;
  background-color: #051e34;
  background-image: url(../img/sidebar-bg.png);
}

.side .contenuto-nav {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

main .contenuto-main {
  width: calc(100% - 70px);
  height: 100%;
  background-color: #f8f9fa;
}

td img {
  width: 1.875rem;
}

.ad-size-table {
  width: 250px;
}

.ad-gutter-off {
  --bs-gutter-x: var(--bs-gutter-x) 0px;
}

.offcanvas.offcanvas-end {
  width: 100%;
}
